/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');*/
html[b-aaca0k6e7t],
body[b-aaca0k6e7t] {
    position: relative;
    height: 100%;
}

body[b-aaca0k6e7t] {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

body[b-aaca0k6e7t] {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

html[b-aaca0k6e7t],
body[b-aaca0k6e7t] {
    position: relative;
    height: 100%;
}

body[b-aaca0k6e7t] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper[b-aaca0k6e7t] {
    width: 240px;
    height: 320px;
}

.swiper-slide[b-aaca0k6e7t] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

    .swiper-slide:nth-child(1n)[b-aaca0k6e7t] {
        background-color: rgb(206, 17, 17);
    }

    .swiper-slide:nth-child(2n)[b-aaca0k6e7t] {
        background-color: rgb(0, 140, 255);
    }

    .swiper-slide:nth-child(3n)[b-aaca0k6e7t] {
        background-color: rgb(10, 184, 111);
    }

    .swiper-slide:nth-child(4n)[b-aaca0k6e7t] {
        background-color: rgb(211, 122, 7);
    }

    .swiper-slide:nth-child(5n)[b-aaca0k6e7t] {
        background-color: rgb(118, 163, 12);
    }

    .swiper-slide:nth-child(6n)[b-aaca0k6e7t] {
        background-color: rgb(180, 10, 47);
    }

    .swiper-slide:nth-child(7n)[b-aaca0k6e7t] {
        background-color: rgb(35, 99, 19);
    }

    .swiper-slide:nth-child(8n)[b-aaca0k6e7t] {
        background-color: rgb(0, 68, 255);
    }

    .swiper-slide:nth-child(9n)[b-aaca0k6e7t] {
        background-color: rgb(218, 12, 218);
    }

    .swiper-slide:nth-child(10n)[b-aaca0k6e7t] {
        background-color: rgb(54, 94, 77);
    }
